html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    /* background: #f3f3f3; */
    background-image: url(../images/fabric-tex.jpg);
    color: black;
    margin: 0;
    padding: 0;
    font-family: "Calisto MT", "Californian FB", serif;
}
a:link {

}
a:visited {

}
a:hover {
    text-decoration: none;
}
a:active {

}
a:focus {

}
h1 {
    color: white;
    font-size: 50px;
    font-family: "Felix Titling", sans-serif;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Felix Titling", sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px solid #20356f;
    border-radius: 4px;
}
header {
    /* background: #20356f; */
    background-image: url(../images/plaid-tex.jpg);
    margin: 0 auto;
    padding: 1px 30px;
}
footer {
    /* background: #20356f; */
    background-image: url(../images/plaid-tex.jpg);
    color: white;
    padding: 5px;
}
.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
}
.content-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.content-list a {
    color: white;
    padding: 15px;
    display: inline-block;
}
.nav-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: right;
}
.nav-list a {
    color: white;
    padding: 15px;
    display: inline-block;
}
.center-text{
    text-align: center;
}
